 <section class="home-body clearfix">
   <section class="top">
      <div class="top_image">
        <%= video_tag "coffee_video1.mp4", class: "landing_video", autoplay: true, loop: true, muted: true, width: "100%" %>
      </div>
      <div class="top_comment">
        <h2 class="top_comment_text">FIND YOUR BEST COFFEE</h2>
      </div>
    </section>

    <div class="chart clearfix">
      <i class="fas fa-ellipsis-v"></i>
      <div class="chart_left">
        <h1 class="top">What's<br>Your Favorite Coffee?</h1>
        <h4 class="middle">あなたの好きなコーヒーの<br>テイストをチャートで視覚化。<br>好みのテイストを一緒に探しましょう!</h4>
        <h5 class="bottom">Visualize your favorite coffee taste with charts. <br>Let's find your favorite taste together!</h5>
      </div>
      <div class="chart_right">
        <%= image_tag "coffee17", class: "chart_right_img" %>
      </div>
    </div>

    <div class="map clearfix">
      <div class="map_left">
        <%= image_tag "coffee21", class: "map_left_img" %>
      </div>
      <div class="map_right">
        <h1 class="top">Where<br>Your Favorite Coffee?</h1>
        <h4 class="middle">コーヒーマップからあなたの好みと近いユーザーと繋がれます。<br>好みの似たユーザーの投稿から新たにコーヒーを発見しましょう。</h4>
        <h5 class="bottom">Connect with users who are close to your tastes from the coffee map. <br> Discover new coffee from posts from similar users.</h5>
      </div>
    </div>

    <div class="index">
      <div class="index_left">
        <h1 class="top">Coffee Life</h1>
        <h5 class="middle">コーヒーの魅力は無限大です。<br>
          お気に入りのユーザーをフォローしたり<br>同じような好みを持つユーザーとチャットをすることで<br>まだ見ぬ自分の好みを探しましょう。</h5>
      </div>
      <div class="index_right">
          <div class="index_right_slide">
              <% @items.each do |item| %>
                  <div class="top_item_index">
                      <div class="coffee_image">
                        <%= link_to users_item_path(item) do %>
                          <%= attachment_image_tag item, :image, size: "190x190" %>
                        <% end %>
                      </div>
                      <div class="coffee_opinion">
                        <%= link_to users_item_path(item) do %>
                          <%= truncate(item.name, length: 8) %>
                        <% end %>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <%= link_to users_user_path(item.user_id) do %>
                            <%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
                            @<%= truncate(item.user.name, length: 5) %>
                          <% end %>
                        </div>
                        <div class="col-md-4 item-like">
                          <div class="item_like_<%= item.id %>">
                            <%= render 'users/items/like', item: item %>
                          </div>
                        </div>
                      </div>
                  </div>
            <% end %>
          </div>
      </div>
    </div>

    <div class="information">
      <h1 class="text-center">Function</h1>
      <ul>
        <li class="information_list1">
          <%= image_tag "ankeet.png", class: "information_icon1", size: "200x200" %>
          <h2 class="information_text1">おすすめ</h2>
          <p class="information_none1">あなたが最近いいねした投稿と似たを投稿をご提案させていただきます。</p>
        </li>
        <li class="information_list2">
          <%= image_tag "calender.png", class: "information_icon2", size: "200x200" %>
          <h2 class="information_text1">カレンダー</h2>
          <p class="information_none2">いつどんなコーヒーを飲んだか記録しましょう。
              あなたは暑いとき、寒いとき、どんなコーヒーが好きですか？</p>
        </li>
        <li class="information_list3">
          <%= image_tag "people.png", class: "information_icon3", size: "200x200" %>
          <h2 class="information_text3">チャット</h2>
          <p class="information_none3">あなたと好みの近いユーザーとどんどん繋がりましょう。
            仕事終わり、プラーベート、カフェで話したその数十分があなたに新たな発見を与えてくれるかも？</p>
        </li>
      </ul>
    </div>







</div>
<!--%= javascript_include_tag 'users/homes_top.js' %-->