<h3 class="text-center">予定管理</h3>
<hr>
<div id="calendar"></div>
	<!-- 追加 -->
<% if @user.id == current_user.id %>
	<div id="inputScheduleForm" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-nm">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
					<h4 class="modal-title">スケジュール登録</h4>
				</div>
				<div class="modal-body">
					<%= form_with model: @event, url: users_events_path do |f| %>
						<div  class="col">
								<p>
									<span>タイトル</span>
									<span><%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください" %></span>
								</p>
								<span>開始日時</span>
								<span><%= f.datetime_field  :start, placeholder: "XXXX-XX-XX", class:"field" %> ~ </span><br>
								<span>終了日時</span>
								<span><%= f.datetime_field :end, placeholder: "XXXX-XX-XX", class:"field" %></span><br>
								<span>詳細
								<%= f.text_field :body, class: "form-control", placeholder: "タイトルの詳細を記入してください" %></span>
						</div>
						<div class="modal-footer">
							<%= f.submit "登録する", class: "btn btn-primary" %>
							<%= f.hidden_field :user_id, :value => current_user.id %>
							<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<!-- 編集 -->
	<div id="inputEditForm">
		<%= render 'users/events/edit', events: @events %>
	</div>
<% end %>
	<script>
	// CRUDを行う際にCSRF対策のtokenを発行
		$(document).ready(function() {
	    var prepare = function(options, originalOptions, jqXHR) {
	      var token;
	      if (!options.crossDomain) {
	        token = $('meta[name="csrf-token"]').attr('content');
	        if (token) {
	          return jqXHR.setRequestHeader('X-CSRF-Token', token);
	        }
	      }
	    };
	    }
	    )

	    // カレンダー表示
		$('#calendar').fullCalendar ({
			header: {
		        left: 'prev,next today',
		        center: 'month,agendaWeek,agendaDay',
		        right: 'title'
		    },

		    buttonText: {
			      prev: "<",
			      next: ">"
			},

			timezone: 'UTC',
	      	events: '/users/events.json',
	      	navLinks: true,
	      	selectable: true,
	      	selectHelper: true,
	      	// 日付クリック
			dayClick : function ( date , jsEvent , view ) {
				$('#inputScheduleForm').modal('show');
				},

			// event クリックで編集、削除
			eventClick : function(event, jsEvent , view) {
	    		jsEvent.preventDefault();
				$(`#inputScheduleEditForm${event.id}`).modal('show');
	  		},

	  		eventMouseover : function(event, jsEvent , view) {
	    		jsEvent.preventDefault();
	  		}
		})

	</script>
