<!-- いいねした投稿一覧　------------------------------------------------------------------------------------->
<section class="container clearfix">
	<div class="row item_index_row">
		<div class="button type1">
			<h2 class="item_title"><%= @user.name %>さんのいいね一覧</h2>
		</div>
		<div class="col-md-12">
			<% @likes.each do |like| %>
			<% item = Item.find_by(id: like.item_id) %>
				<div class="item_index">
					<div class="coffee_image">
						<%= link_to users_item_path(item) do %>
							<%= attachment_image_tag item, :image, size: "190x190", class: "coffee_image_media" %>
						<% end %>
					</div>
					<div class="row">
						<div class="col-md-8 item_index_media_user">
							<%= link_to users_user_path(item.user_id) do %>
								<%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "30x30" %>
								<span style="color: black;">@<%= truncate(item.user.name, length: 5) %></span>
							<% end %>
						</div>
						<div class="col-md-4 item-like">
							<div class="item_like_<%= item.id %>">
							 	<%= render 'users/items/like', item: item %>
							</div>
					</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>