<section class="container clearfix">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 new-container">
			<div class="row">
				<h1 class="text-center">コーヒー一覧</h1>
				<div id="item_index">
					<% @items.each do |item| %>
						<%= link_to users_item_path(item) do %>
							<%= attachment_image_tag item, :image, size: "150x150" %>
							製品名<%= item.name %>
						<% end %>
							感想<%= item.opinion %>
							購入場所<%= item.place %>
							<% if item.taist.fruity == 0 %>
								フルーティ<p class="btn btn-danger btn-xs">感じない</p>
							<% elsif item.taist.fruity == 1 %>
								フルーティ<p class="btn btn-danger btn-xs">やや感じる</p>
							<% elsif item.taist.fruity == 2 %>
								フルーティ<p class="btn btn-danger btn-xs">感じる</p>
							<% else %>
	  							フルーティ<p class="btn btn-danger btn-xs">強く感じる</p>
	  						<% end %>
							<%= item.taist.refresh %>
							<%= item.taist.body %>
							<%= item.taist.bitter %>
					<% end %>
				</div>
					<%= link_to "新規投稿", new_users_taist_path, remote: true, class: "btn btn-lg btn-dark" %>
					<div id="item-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
			</div>
		</div>
	</div>
</section>