<!-- コーヒーマップ(ヘッダーリンク:FIND) ------------------------------------------------------------------>
<div class="research_back">
	<section class="container clearfix">
		<div class="row">
			<div class="find_question" data-toggle="modal" data-target="#exampleModalLong">
					<i class="far fa-question-circle">
						<span><h7 style="font-size: 17px;">マップの見方</h7></span>
					</i>
			 </div>
			<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLongTitle">コーヒーマップの使い方</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <h2 class="text-center">ZONEについて</h2>
			        <hr>
			        <%= image_tag "coffee_map.png", class: "coffee_map_zone_img mx-auto d-block" %>
			        <h5>各コーヒーがコーヒーマップのどこに属しているかを示したものです。<br>
						飲んだコーヒーやお気に入りのZONEを確認してみましょう。
					</h5>
					<h5>コーヒーカップをクリックすると、選択したゾーンの新着投稿を確認できます。<br>
					投稿をクリックしてテイストをチャートで見てみましょう!</h5>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="research_box">
				<div id="taist">
					<div class="refresh_boxA">
						<a class="js-modal-openA" href=""><i class="fas fa-coffee zoneA"></i></a>
						<div class="modal js-modalA">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistA.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:1) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistA.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle find_prof_image_media", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="refresh_boxB">
						<a class="js-modal-openB" href=""><i class="fas fa-coffee zoneB"></i></a>
						<div class="modal js-modalB">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content research_modal_media">
						    	<% if @taistB.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:2) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistB.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle research_prof", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="refresh_boxC">
						<a class="js-modal-openC" href=""><i class="fas fa-coffee zoneC"></i></a>
						<div class="modal js-modalC">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistC.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:3) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistC.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="refresh_boxD">
						<a class="js-modal-openD" href=""><i class="fas fa-coffee zoneD"></i></a>
						<div class="modal js-modalD">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistD.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:4) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistD.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="bitter_boxE">
						<a class="js-modal-openE" href=""><i class="fas fa-coffee zoneE"></i></a>
						<div class="modal js-modalE">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistE.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:5) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistE.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="bitter_boxF">
						<a class="js-modal-openF" href=""><i class="fas fa-coffee zoneF"></i></a>
						<div class="modal js-modalF">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistF.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:6) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistF.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="bitter_boxG">
						<a class="js-modal-openG" href=""><i class="fas fa-coffee zoneG"></i></a>
						<div class="modal js-modalG">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistG.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:7) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistG.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="bitter_boxH">
						<a class="js-modal-openH" href=""><i class="fas fa-coffee zoneH"></i></a>
						<div class="modal js-modalH">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistH.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:88) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistH.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="body_boxI">
						<a class="js-modal-openI" href=""><i class="fas fa-coffee zoneI"></i></a>
						<div class="modal js-modalI">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistI.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:9) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistI.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="body_boxJ">
						<a class="js-modal-openJ" href=""><i class="fas fa-coffee zoneJ"></i></a>
						<div class="modal js-modalJ">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistJ.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:10) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistJ.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="body_boxK">
						<a class="js-modal-openK" href=""><i class="fas fa-coffee zoneK"></i></a>
						<div class="modal js-modalK">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistK.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:11) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistK.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="body_boxL">
						<a class="js-modal-openL" href=""><i class="fas fa-coffee zoneL"></i></a>
						<div class="modal js-modalL">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistL.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:12) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistL.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="fruity_boxM">
						<a class="js-modal-openM" href=""><i class="fas fa-coffee zoneM"></i></a>
						<div class="modal js-modalM">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistM.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:13) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistM.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="fruity_boxN">
						<a class="js-modal-openN" href=""><i class="fas fa-coffee zoneN"></i></a>
						<div class="modal js-modalN">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistN.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:14) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistN.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="fruity_boxO">
						<a class="js-modal-openO" href=""><i class="fas fa-coffee zoneO"></i></a>
						<div class="modal js-modalO">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistO.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:15) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistO.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
					<div class="fruity_boxP">
						<a class="js-modal-openP" href=""><i class="fas fa-coffee zoneP"></i></a>
						<div class="modal js-modalP">
							<div class="modal__bg js-modal-close"></div>
						    <div class="modal__content">
						    	<% if @taistP.exists? %>
						    		<h2 class="text-center">選択エリアのコーヒー</h2>
						    		<%= link_to users_taist_research_path(sort:16) do %>
						    			<h6 class="text-right" style="color: #C0C0C0">もっと見る...</h6>
						    		<% end %>
							    	<table  class="table table-hover table-inverse">
											<thead>
									 			<tr>
													<th></th>
													<th>タイトル</th>
													<th>感想</th>
													<th>ユーザー</th>
												</tr>
											</thead>
											<tbody>
										    	<% @taistP.each do |taist| %>
										    		<% taist.items. each do |item| %>
											    		<tr>
															<td>
																<%= link_to users_item_path(item) do %>
																	<%= attachment_image_tag item, :image, size: "50x50" %>
																<% end %>
															</td>
															<td>
																<%= link_to users_item_path(item) do %>
																	<p style="color: black"><%= item.name %></p>
																<% end %>
															</td>
															<td>
																<%= item.opinion %>
															</td>
															<td>
																<%= link_to users_user_path(item.user_id) do %>
																	<p style="color: black"><%= attachment_image_tag item.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %>
																	@<%= item.user.name %></p>
																<% end %>
															</td>
														</tr>
													<% end %>
											<% end %>
										</tbody>
									</table>
							    <% else %>
							    	アイテムがありません
							    <% end %>
						    	<a class="js-modal-close pull-right" href="">❌</a>
						    </div>
						</div>
					</div>
				</div>
				<div class="research-title-top">スッキリ</div>
				<div class="research-title-right">ビター</div>
				<div class="research-title-bottom">コク</div>
				<div class="research-title-left">フルーティ</div>
			</div>
		</div>
	</section>
</div>
	<%= javascript_include_tag 'users/item_research.js' %>
