<section class="container clearfix">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 show-container">
			<div class="row">
				<div class="col-md-6">
					<div class="item_show">
						<div class="item_show_image">
							<%= attachment_image_tag @item, :image, size: "250x250", class: "center-block" %>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>タイトル</th>
								<th><%= @item.name %></th>
							</tr>
							<tr>
								<th>購入場所</th>
								<th><%= @item.place %></th>
							</tr>
							<tr>
								<th>購入日</th>
								<th><%= @item.created_at.strftime("%Y年%m月%d日 ") %></th>
							</tr>
							<tr>
								<th>いいね</th>
								<th>
									<div id="item__show_like_<%= @item.id %>">
				             			<%= render 'show_like', item: @item %>
									</div>
								</th>
							</tr>
							<tr>
								<th>いいねしたユーザー</th>
								<th></th>
							</tr>
						</thead>
					</table>
				</div>
	        </div>
	        <hr>

	        <div class="row">
	        	<ol>
	        	<h3 class="text-left">
	        		<span class="title">
	        			投稿者コメント
	        		</span>
	        	</h3>
	        	<li class="opinion">
  					<%= @item.opinion %>
  				</li>
	        </div>
	        <hr>

	        <div class="row">
	        	<h3 class="text-left">
	        		<span class="title">
	        			コーヒーマップ
	        		</span>
	        	</h3>
					<canvas id="myRaderChart"></canvas>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
					 <script>
				    var ctx = document.getElementById("myRaderChart");
				    var item = gon.item
				    var taist = gon.taist
				    //console.log(item)
					    var myRadarChart = new Chart(ctx, {
				        type: 'radar',
				        data: {
				            labels: ["スッキリ", "ビター", "コク", "フルーティ"],
				            datasets: [{
				                label: item.name,
				                data: [taist.refresh, taist.bitter, taist.body, taist.fruity],
				                //data: [1, 2, 3, 2],
				                backgroundColor: 'RGBA(225,95,150, 0.5)',
				                borderColor: 'RGBA(225,95,150, 1)',
				                borderWidth: 1,
				                pointBackgroundColor: 'RGB(46,106,177)'
				            }]
				        },
				        options: {
			            title: {
			                display: true,
			                text: ''
			            },
			            scale:{
			                ticks:{
			                    suggestedMin: 0,
			                    suggestedMax: 3,
			                    stepSize: 1,
			                    callback: function(value, index, values){
			                    	if(value == 1){
			                        	return "やや感じる"
			                    	}else if(value == 2){
			                    		return "感じる"
			                    	}else{
			                    		return "強く感じる"
			                    	}
			                    }
			                }
			            }
			        }
			    });
			    </script>
	    	</div>
	    	<hr>

		    <div class="row">
				  <ul>
					<li class="comment-create">
	  					<h3 class="text-left">
			        		<span class="title">
			        			レビュー
			        		</span>
			        	</h3>
			        	<%= @item.comments.count %>件コメント
	  					<div id="comments_area">
					      <%= render partial: 'users/comments/index', locals: { comments: @comments } %>
					    </div>
					</li>
				</ul>
  			</div>
  			<hr>

  			<div class="row">
				  <ul>
					<li class="comment-create">
	  					<h3 class="text-left">
			        		<span class="title">
			        			レビューを投稿する
			        		</span>
			        	</h3>
					    <% if user_signed_in? %>
					      <%= render partial: 'users/comments/form', locals: { comment: @comment, item: @item } %>
					    <% end %>
					</li>
				</ul>
  			</div>
		</div>
	</div>
</section>