<!-- 投稿詳細 ------------------------------------------------------------------>
<section class="container clearfix" id="items-show">
	<div class="row">
		<div class="item-show-container">
			<div class="row">
				<div class="col-md-6 media_image fadeIn">
					<div class="item_show">
						<div class="item_show_image">
							<%= attachment_image_tag @item, :image, size: "250x250", class: "center-block" %>
						</div>
					</div>
				</div>
				<div class="col-md-6 fadeIn">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>タイトル</th>
								<th><%= @item.name %></th>
							</tr>
							<tr>
								<th>購入場所</th>
								<th><%= @item.place %></th>
							</tr>
							<tr>
								<th>購入日</th>
								<th><%= @item.created_at.strftime("%Y年%m月%d日 ") %></th>
							</tr>
							<tr>
								<th>いいね</th>
								<th>
									<div id="item__show_like_<%= @item.id %>">
				             			<%= render 'show_like', item: @item %>
									</div>
								</th>
							</tr>
							<tr>
								<th>いいねしたユーザー</th>
								<th><%= link_to users_items_show_like_path do %>
										<%= @item.likes.count %>件のいいね
									<% end %>
								</th>
							</tr>
							<% if @item.user == current_user %>
				            	<tr>
				            		<th><%= link_to "投稿を削除する", users_item_path(@item), method: :delete %>
				            		</th>
				            		<th></th>
				            	</tr>
			            	<% end %>
						</thead>
					</table>
				</div>
	        </div>
	        <hr>
	        <div class="row media_comment fadeIn">
	        	<ul>
		        	<h3 class="text-left">
		        		<span class="title">
		        			投稿者コメント
		        		</span>
		        	</h3>
		        	<li class="opinion">
	  					<%= simple_format(@item.opinion) %>
	  				</li>
	  			</ul>
	        </div>
	        <hr>
	        <div class="row">
	        	<h3 class="text-left">
	        		<span class="title">
	        			コーヒーマップ
	        		</span>
	        	</h3>
	        		<div class="zone_img">
	        			<% if @taist_show.refresh == 3 && @taist_show.bitter == 0 &&  @taist_show.body == 0 && @taist_show.fruity == 3 %>
	        				<%= image_tag 'zoneA', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 3 && @taist_show.bitter == 1 &&  @taist_show.body == 0 && @taist_show.fruity == 2 %>
	        				<%= image_tag 'zoneB', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 2 && @taist_show.bitter == 0 &&  @taist_show.body == 1 && @taist_show.fruity == 3 %>
	        				<%= image_tag 'zoneC', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 2 && @taist_show.bitter == 1 &&  @taist_show.body == 1 && @taist_show.fruity == 2 %>
	        				<%= image_tag 'zoneD', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 3 && @taist_show.bitter == 2 &&  @taist_show.body == 0 && @taist_show.fruity == 1 %>
	        				<%= image_tag 'zoneE', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 3 && @taist_show.bitter == 3 &&  @taist_show.body == 0 && @taist_show.fruity == 0 %>
	        				<%= image_tag 'zoneF', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 2 && @taist_show.bitter == 2 &&  @taist_show.body == 1 && @taist_show.fruity == 1 %>
	        				<%= image_tag 'zoneG', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 2 && @taist_show.bitter == 3 &&  @taist_show.body == 1 && @taist_show.fruity == 0 %>
	        				<%= image_tag 'zoneH', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 1 && @taist_show.bitter == 0 &&  @taist_show.body == 2 && @taist_show.fruity == 3 %>
	        				<%= image_tag 'zoneI', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 1 && @taist_show.bitter == 1 &&  @taist_show.body == 2 && @taist_show.fruity == 2 %>
	        				<%= image_tag 'zoneJ', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 0 && @taist_show.bitter == 0 &&  @taist_show.body == 3 && @taist_show.fruity == 3 %>
	        				<%= image_tag 'zoneK', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 0 && @taist_show.bitter == 1 &&  @taist_show.body == 3 && @taist_show.fruity == 2 %>
	        				<%= image_tag 'zoneL', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 1 && @taist_show.bitter == 2 &&  @taist_show.body == 2 && @taist_show.fruity == 1 %>
	        				<%= image_tag 'zoneM', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 1 && @taist_show.bitter == 3 &&  @taist_show.body == 2 && @taist_show.fruity == 0 %>
	        				<%= image_tag 'zoneN', :class => "zone_img" %>
	        			<% elsif @taist_show.refresh == 0 && @taist_show.bitter == 2 &&  @taist_show.body == 3 && @taist_show.fruity == 1 %>
	        				<%= image_tag 'zoneO', :class => "zone_img" %>
	        			<% else %>
	        				<%= image_tag 'zoneP', :class => "zone_img" %>
	        			<% end %>
	        		</div>
	        		<div class="has-rader fadeIn">
						<canvas id="showRaderChart"></canvas>
					</div>
	    	</div>
	    	<hr>
		    <div class="row media_rebyu fadeIn">
				<ul>
					<li class="comment-create">
	  					<h3 class="text-left title">レビュー</h3>
			        </li>
  					<li id="comments_area">
				      <%= render partial: 'users/comments/index', locals: { comments: @comments } %>
				    </li>
				</ul>
				<hr>
				<% if user_signed_in? %>
					<div class="comment-create">
	  					<h3 class="text-left">
			        		<span class="title">
			        			レビューを投稿する
			        		</span>
			        	</h3>
					      <%= render partial: 'users/comments/form', locals: { comment: @comment, item: @item } %>
					</div>
				<% end %>
  			</div>
  			<%= link_to "新規投稿", new_users_taist_path, remote: true, class: "btn-circle-stitch" %>
				<div id="item-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
	          			<div class="post_index_m modal-content">
	          			</div>
	       			</div>
   				</div>
		</div>
	</div>
</section>
<%= include_gon(:init => true) %>
<!--%= javascript_include_tag 'users/item_show.js' %-->

<script>
	 //item_showチャート
    var ctx = document.getElementById("showRaderChart");
    var item = gon.item_show
    // console.log(item)
    var taist = gon.taist_show
    console.log(item)
      var showRadarChart = new Chart(ctx, {
          type: 'radar',
          data: {
              labels: ["スッキリ", "ビター", "コク", "フルーティ"],
              datasets: [{
                  label: item.name,
                  data: [taist.refresh, taist.bitter, taist.body, taist.fruity],
                  //data: [1, 2, 3, 2],
                  backgroundColor: 'RGBA(135, 206, 235, 0.5)',
                  borderColor: 'RGBA(65, 105, 225, 1)',
                  borderWidth: 1,
                  pointBackgroundColor: 'RGB(46,106,177)'
              }]
          },
          options: {
            title: {
                display: true,
                text: ''
            },
            scale:{
                ticks:{
                    suggestedMin: 0,
                    suggestedMax: 3,
                    stepSize: 1,
                    callback: function(value, index, values){
                      if(value == 1){
                          return "やや感じる"
                      }else if(value == 2){
                        return "感じる"
                      }else{
                        return "強く感じる"
                      }
                    }
                  }
                }
 			}
 		});
</script>
