<!-- お問い合せ内容(replyカラムをupdateで返信) ------------------------------------------------------------------>
<div class="contact-edit-content">
	<div class="container">
		<div class="row">
			<div class="col-8 offset-2 content_box">
				<h2 class="text-center">お問い合わせ内容</h2>
				<hr>
				<%= form_for @contact, url: admins_contact_path do |f| %>
					  <h3 class="contact-edit-title">顧客名</h3>
					  <%= @contact.user.name %>さん
					  <hr>
					  <h3 class="contact-edit-title_body">問い合わせ日</h3>
					  <%= @contact.created_at.strftime("%Y年%m月%d日 ") %>
					  <hr>
	                  <h3 class="contact-edit-title_body">タイトル</h3>
	                  <%= @contact.title %>
	                  <hr>
	                  <h3 class="contact-edit-title_body">問い合わせ内容</h3>
	                  <%= @contact.body %><br>
	                  <hr>
	                  <h3 class="contact-edit-title">返信</h3>
	                  <%= f.text_area :reply, class:"form-control contact-reply", placeholder: "返信内容" %>
	                  <hr>
	                  <%= f.submit "送信", class:"btn btn-lg btn-block btn-base-1 mt-20 btn-secondary" %>
	              <% end %>
	      </div>
	  </div>
	</div>
</div>