<div class="modal-dialog" role="document">
	<div class="modal-content">
		<section class="container clearfix">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 new-container">
					<h3 class="text-center">新規投稿</h3>
					<hr>
					<div class="row">
						<%= form_for(@event, url: users_events_path, remote: true) do |f| %>
							<%= f.label :タイトル %><br>
							<%= f.text_field :title, class:"form-control" %>
							<%= f.label :開始日時 %><br>
							<%= f.date_field :start, class:"form-control" %>
							<%= f.label :終了日時 %><br>
							<%= f.date_field :end, class:"form-control" %>
							<%= f.submit "保存" %>
						<% end %>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>