<div class="nested-fields form-inline">
	<%= f.label :画像投稿 %>
	<%= f.attachment_field :image %>
	<%= f.label :タイトル %>
	<%= f.text_field :name %><br>
	<%= f.label :感想 %>
	<%= f.text_field :opinion %>
	<%= f.label :購入場所 %>
	<%= f.text_field :place %><br>
	<%= f.hidden_field :user_id, :value => current_user.id %>
</div>