<div class="nested-fields form-inline">
	<%= f.label :画像投稿 %><br>
	<%= f.attachment_field :image %>
	<%= f.label :タイトル %>
	<%= f.text_field :name %><br>
	<%= f.label :感想 %>
	<%= f.text_field :opinion %><br>
</div>