<!-- 新規投稿(親:taist/子:item => cocoon使用) ------------------------------------------------------------------>
<section class="container clearfix">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="taist_new">
				<div class="modal-header">
					<h3 class="modal-title">新規投稿
					<a class="js-modal-close" href="">✖︎</a>
					</h3>
				</div>
					<div class="modal-body">
						<%= form_for(@taist, url: users_taists_path, remote: true) do |f| %>
							<div id="create_error">
								<%= render 'layouts/error_message', model: f.object %>
							</div>
							<%= f.fields_for :items do |item| %>
								<%= render 'item_fields', f: item %>
							<% end %>
<!-- 保存したデータを基に投稿詳細でチャートを表示する(refresh/bitter/body/fruity) ----------------------------------->
							<h5>コーヒーマップ</h5>
							<div class="taist-box">
	  							<div class="taist-index">
									<div class="refresh_contentA">
										<%= f.radio_button :refresh, 3, class: "radio_btn", id: 'refreshA' %>
										<%= f.label '✔︎', for: 'refreshA' %>
											<%= f.hidden_field :bitter, :value => 0, disabled: "disabled", class: 'hiddenA' %>
											<%= f.hidden_field :body, :value => 0, disabled: "disabled", class: 'hiddenA' %>
											<%= f.hidden_field :fruity, :value => 3, disabled: "disabled", class: 'hiddenA' %>
									</div>
									<div class="refresh_contentB">
										<%= f.radio_button :refresh, 3, class: "radio_btn", id: 'refreshB' %>
										<%= f.label '✔︎', for: 'refreshB' %>
										<%= f.hidden_field :bitter, :value => 1, disabled: "disabled", class: 'hiddenB' %>
										<%= f.hidden_field :body, :value => 0, disabled: "disabled", class: 'hiddenB' %>
										<%= f.hidden_field :fruity, :value => 2, disabled: "disabled", class: 'hiddenB' %>
									</div>
									<div class="refresh_contentC">
										<%= f.radio_button :refresh, 2, class: "radio_btn", id: 'refreshC' %>
										<%= f.label '✔︎', for: 'refreshC' %>
										<%= f.hidden_field :bitter, :value => 0, disabled: "disabled", class: 'hiddenC' %>
										<%= f.hidden_field :body, :value => 1, disabled: "disabled", class: 'hiddenC' %>
										<%= f.hidden_field :fruity, :value => 3, disabled: "disabled", class: 'hiddenC' %>
									</div>
									<div class="refresh_contentD">
										<%= f.radio_button :refresh, 2, class: "radio_btn", id: 'refreshD' %>
										<%= f.label '✔︎', for: 'refreshD' %>
										<%= f.hidden_field :bitter, :value => 1, disabled: "disabled", class: 'hiddenD'%>
										<%= f.hidden_field :body, :value => 1, disabled: "disabled", class: 'hiddenD' %>
										<%= f.hidden_field :fruity, :value => 2, disabled: "disabled", class: 'hiddenD' %>
									</div>
									<div class="bitter_contentE">
										<%= f.radio_button :refresh, 3, class: "radio_btn", id: 'refreshE' %>
										<%= f.label '✔︎', for: 'refreshE' %>
										<%= f.hidden_field :bitter, :value => 2, disabled: "disabled", class: 'hiddenE' %>
										<%= f.hidden_field :body, :value => 0, disabled: "disabled", class: 'hiddenE' %>
										<%= f.hidden_field :fruity, :value => 1, disabled: "disabled", class: 'hiddenE' %>
									</div>
									<div class="bitter_contentF">
										<%= f.radio_button :refresh, 3, class: "radio_btn", id: 'refreshF' %>
										<%= f.label '✔︎', for: 'refreshF' %>
										<%= f.hidden_field :bitter, :value => 3, disabled: "disabled", class: 'hiddenF' %>
										<%= f.hidden_field :body, :value => 0, disabled: "disabled", class: 'hiddenF' %>
										<%= f.hidden_field :fruity, :value => 0, disabled: "disabled", class: 'hiddenF' %>
									</div>
									<div class="bitter_contentG">
										<%= f.radio_button :refresh, 2, class: "radio_btn", id: 'refreshG' %>
										<%= f.label '✔︎', for: 'refreshG' %>
										<%= f.hidden_field :bitter, :value => 2, disabled: "disabled", class: 'hiddenG' %>
										<%= f.hidden_field :body, :value => 1, disabled: "disabled", class: 'hiddenG' %>
										<%= f.hidden_field :fruity, :value => 1, disabled: "disabled", class: 'hiddenG' %>
									</div>
									<div class="bitter_contentH">
										<%= f.radio_button :refresh, 2, class: "radio_btn", id: 'refreshH' %>
										<%= f.label '✔︎', for: 'refreshH' %>
										<%= f.hidden_field :bitter, :value => 3, disabled: "disabled", class: 'hiddenH' %>
										<%= f.hidden_field :body, :value => 1, disabled: "disabled", class: 'hiddenH' %>
										<%= f.hidden_field :fruity, :value => 0, disabled: "disabled", class: 'hiddenH' %>
									</div>
									<div class="body_contentI">
										<%= f.radio_button :refresh, 1, class: "radio_btn", id: 'refreshI' %>
										<%= f.label '✔︎', for: 'refreshI' %>
										<%= f.hidden_field :bitter, :value => 0, disabled: "disabled", class: 'hiddenI' %>
										<%= f.hidden_field :body, :value => 2, disabled: "disabled", class: 'hiddenI' %>
										<%= f.hidden_field :fruity, :value => 3, disabled: "disabled", class: 'hiddenI' %>
									</div>
									<div class="body_contentJ">
										<%= f.radio_button :refresh, 1, class: "radio_btn", id: 'refreshJ' %>
										<%= f.label '✔︎', for: 'refreshJ' %>
										<%= f.hidden_field :bitter, :value => 1, disabled: "disabled", class: 'hiddenJ' %>
										<%= f.hidden_field :body, :value => 2, disabled: "disabled", class: 'hiddenJ' %>
										<%= f.hidden_field :fruity, :value => 2, disabled: "disabled", class: 'hiddenJ' %>
									</div>
									<div class="body_contentK">
										<%= f.radio_button :refresh, 0, class: "radio_btn", id: 'refreshK' %>
										<%= f.label '✔︎', for: 'refreshK' %>
										<%= f.hidden_field :bitter, :value => 0, disabled: "disabled", class: 'hiddenK' %>
										<%= f.hidden_field :body, :value => 3, disabled: "disabled", class: 'hiddenK' %>
										<%= f.hidden_field :fruity, :value => 3, disabled: "disabled", class: 'hiddenK' %>
									</div>
									<div class="body_contentL">
										<%= f.radio_button :refresh, 0, class: "radio_btn", id: 'refreshL' %>
										<%= f.label '✔︎', for: 'refreshL' %>
										<%= f.hidden_field :bitter, :value => 1, disabled: "disabled", class: 'hiddenL' %>
										<%= f.hidden_field :body, :value => 3, disabled: "disabled", class: 'hiddenL' %>
										<%= f.hidden_field :fruity, :value => 2, disabled: "disabled", class: 'hiddenL' %>
									</div>
									<div class="fruity_contentM">
										<%= f.radio_button :refresh, 1, class: "radio_btn", id: 'refreshM' %>
										<%= f.label '✔︎', for: 'refreshM' %>
										<%= f.hidden_field :bitter, :value => 2, disabled: "disabled", class: 'hiddenM' %>
										<%= f.hidden_field :body, :value => 2, disabled: "disabled", class: 'hiddenM' %>
										<%= f.hidden_field :fruity, :value => 1, disabled: "disabled", class: 'hiddenM' %>
									</div>
									<div class="fruity_contentN">
										<%= f.radio_button :refresh, 1, class: "radio_btn", id: 'refreshN' %>
										<%= f.label '✔︎', for: 'refreshN' %>
										<%= f.hidden_field :bitter, :value => 3, disabled: "disabled", class: 'hiddenN' %>
										<%= f.hidden_field :body, :value => 2, disabled: "disabled", class: 'hiddenN' %>
										<%= f.hidden_field :fruity, :value => 0, disabled: "disabled", class: 'hiddenN' %>
									</div>
									<div class="fruity_contentO">
										<%= f.radio_button :refresh, 0, class: "radio_btn", id: 'refreshO' %>
										<%= f.label '✔︎', for: 'refreshO' %>
										<%= f.hidden_field :bitter, :value => 2, disabled: "disabled", class: 'hiddenO' %>
										<%= f.hidden_field :body, :value => 3, disabled: "disabled", class: 'hiddenO' %>
										<%= f.hidden_field :fruity, :value => 1, disabled: "disabled", class: 'hiddenO' %>
									</div>
									<div class="fruity_contentP">
										<%= f.radio_button :refresh, 0, class: "radio_btn", id: 'refreshP' %>
										<%= f.label '✔︎', for: 'refreshP' %>
										<%= f.hidden_field :bitter, :value => 3, disabled: "disabled", class: 'hiddenP' %>
										<%= f.hidden_field :body, :value => 3, disabled: "disabled", class: 'hiddenP' %>
										<%= f.hidden_field :fruity, :value => 0, disabled: "disabled", class: 'hiddenP'%>
									</div>
									<div class="map-title-top">スッキリ</div>
									<div class="map-title-right">ビター</div>
									<div class="map-title-bottom">コク</div>
									<div class="map-title-left">フルーティ</div>
								</div>
							</div>
							<div class="modal-footer">
						<%= f.submit "保存", class:"form-control" %>
					</div>
					<% end %>
					</div>

		</div>
	</div>
</section>
<%= javascript_include_tag 'users/taist_new.js' %>