<!-- 新規投稿(親:taist/子:item => cocoon使用) ------------------------------------------------------------------>
<section class="container clearfix">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="taist_new">
				<div class="modal-header">
					<h3 class="modal-title">新規投稿
					<a class="js-modal-close" href="">✖︎</a>
					</h3>
				</div>
					<div class="modal-body">
						<%= form_for(@taist, url: users_taists_path, remote: true) do |f| %>
							<div id="create_error">
								<%= render 'layouts/error_message', model: f.object %>
							</div>
							<%= f.fields_for :items do |item| %>
								<%= render 'item_fields', f: item %>
							<% end %>
<!-- 保存したデータを基に投稿詳細でチャートを表示する(refresh/bitter/body/fruity) ----------------------------------->
							<h5>コーヒーマップ</h5>
							<div class="taist-box">
	  							<div class="taist-index">
									<div class="refresh_content1">
										<%= f.radio_button :refresh, 3, class: "radio_btn", id: 'refresh1' %>
										<%= f.label '✔︎', for: 'refresh1' %>
											<%= f.hidden_field :bitter, :value => 0, disabled: "disabled", class: 'hidden1' %>
											<%= f.hidden_field :body, :value => 0, disabled: "disabled", class: 'hidden1' %>
											<%= f.hidden_field :fruity, :value => 3, disabled: "disabled", class: 'hidden1' %>
									</div>
									<div class="refresh_content2">
										<%= f.radio_button :refresh, 3, class: "radio_btn", id: 'refresh2' %>
										<%= f.label '✔︎', for: 'refresh2' %>
										<%= f.hidden_field :bitter, :value => 1, disabled: "disabled", class: 'hidden2' %>
										<%= f.hidden_field :body, :value => 0, disabled: "disabled", class: 'hidden2' %>
										<%= f.hidden_field :fruity, :value => 2, disabled: "disabled", class: 'hidden2' %>
									</div>
									<div class="refresh_content3">
										<%= f.radio_button :refresh, 2, class: "radio_btn", id: 'refresh3' %>
										<%= f.label '✔︎', for: 'refresh3' %>
										<%= f.hidden_field :bitter, :value => 0, disabled: "disabled", class: 'hidden3' %>
										<%= f.hidden_field :body, :value => 1, disabled: "disabled", class: 'hidden3' %>
										<%= f.hidden_field :fruity, :value => 3, disabled: "disabled", class: 'hidden3' %>
									</div>
									<div class="refresh_content4">
										<%= f.radio_button :refresh, 2, class: "radio_btn", id: 'refresh4' %>
										<%= f.label '✔︎', for: 'refresh4' %>
										<%= f.hidden_field :bitter, :value => 1, disabled: "disabled", class: 'hidden4'%>
										<%= f.hidden_field :body, :value => 1, disabled: "disabled", class: 'hidden4' %>
										<%= f.hidden_field :fruity, :value => 2, disabled: "disabled", class: 'hidden4' %>
									</div>
									<div class="bitter_content1">
										<%= f.radio_button :refresh, 3, class: "radio_btn", id: 'refresh5' %>
										<%= f.label '✔︎', for: 'refresh5' %>
										<%= f.hidden_field :bitter, :value => 2, disabled: "disabled", class: 'hidden5' %>
										<%= f.hidden_field :body, :value => 0, disabled: "disabled", class: 'hidden5' %>
										<%= f.hidden_field :fruity, :value => 1, disabled: "disabled", class: 'hidden5' %>
									</div>
									<div class="bitter_content2">
										<%= f.radio_button :refresh, 3, class: "radio_btn", id: 'refresh6' %>
										<%= f.label '✔︎', for: 'refresh6' %>
										<%= f.hidden_field :bitter, :value => 3, disabled: "disabled", class: 'hidden6' %>
										<%= f.hidden_field :body, :value => 0, disabled: "disabled", class: 'hidden6' %>
										<%= f.hidden_field :fruity, :value => 0, disabled: "disabled", class: 'hidden6' %>
									</div>
									<div class="bitter_content3">
										<%= f.radio_button :refresh, 2, class: "radio_btn", id: 'refresh7' %>
										<%= f.label '✔︎', for: 'refresh7' %>
										<%= f.hidden_field :bitter, :value => 2, disabled: "disabled", class: 'hidden7' %>
										<%= f.hidden_field :body, :value => 1, disabled: "disabled", class: 'hidden7' %>
										<%= f.hidden_field :fruity, :value => 1, disabled: "disabled", class: 'hidden7' %>
									</div>
									<div class="bitter_content4">
										<%= f.radio_button :refresh, 2, class: "radio_btn", id: 'refresh8' %>
										<%= f.label '✔︎', for: 'refresh8' %>
										<%= f.hidden_field :bitter, :value => 3, disabled: "disabled", class: 'hidden8' %>
										<%= f.hidden_field :body, :value => 1, disabled: "disabled", class: 'hidden8' %>
										<%= f.hidden_field :fruity, :value => 0, disabled: "disabled", class: 'hidden8' %>
									</div>
									<div class="body_content1">
										<%= f.radio_button :refresh, 1, class: "radio_btn", id: 'refresh9' %>
										<%= f.label '✔︎', for: 'refresh9' %>
										<%= f.hidden_field :bitter, :value => 0, disabled: "disabled", class: 'hidden9' %>
										<%= f.hidden_field :body, :value => 2, disabled: "disabled", class: 'hidden9' %>
										<%= f.hidden_field :fruity, :value => 3, disabled: "disabled", class: 'hidden9' %>
									</div>
									<div class="body_content2">
										<%= f.radio_button :refresh, 1, class: "radio_btn", id: 'refresh10' %>
										<%= f.label '✔︎', for: 'refresh10' %>
										<%= f.hidden_field :bitter, :value => 1, disabled: "disabled", class: 'hidden10' %>
										<%= f.hidden_field :body, :value => 2, disabled: "disabled", class: 'hidden10' %>
										<%= f.hidden_field :fruity, :value => 2, disabled: "disabled", class: 'hidden10' %>
									</div>
									<div class="body_content3">
										<%= f.radio_button :refresh, 0, class: "radio_btn", id: 'refresh11' %>
										<%= f.label '✔︎', for: 'refresh11' %>
										<%= f.hidden_field :bitter, :value => 0, disabled: "disabled", class: 'hidden11' %>
										<%= f.hidden_field :body, :value => 3, disabled: "disabled", class: 'hidden11' %>
										<%= f.hidden_field :fruity, :value => 3, disabled: "disabled", class: 'hidden11' %>
									</div>
									<div class="body_content4">
										<%= f.radio_button :refresh, 0, class: "radio_btn", id: 'refresh12' %>
										<%= f.label '✔︎', for: 'refresh12' %>
										<%= f.hidden_field :bitter, :value => 1, disabled: "disabled", class: 'hidden12' %>
										<%= f.hidden_field :body, :value => 3, disabled: "disabled", class: 'hidden12' %>
										<%= f.hidden_field :fruity, :value => 2, disabled: "disabled", class: 'hidden12' %>
									</div>
									<div class="fruity_content1">
										<%= f.radio_button :refresh, 1, class: "radio_btn", id: 'refresh13' %>
										<%= f.label '✔︎', for: 'refresh13' %>
										<%= f.hidden_field :bitter, :value => 2, disabled: "disabled", class: 'hidden13' %>
										<%= f.hidden_field :body, :value => 2, disabled: "disabled", class: 'hidden13' %>
										<%= f.hidden_field :fruity, :value => 1, disabled: "disabled", class: 'hidden13' %>
									</div>
									<div class="fruity_content2">
										<%= f.radio_button :refresh, 1, class: "radio_btn", id: 'refresh14' %>
										<%= f.label '✔︎', for: 'refresh14' %>
										<%= f.hidden_field :bitter, :value => 3, disabled: "disabled", class: 'hidden14' %>
										<%= f.hidden_field :body, :value => 2, disabled: "disabled", class: 'hidden14' %>
										<%= f.hidden_field :fruity, :value => 0, disabled: "disabled", class: 'hidden14' %>
									</div>
									<div class="fruity_content3">
										<%= f.radio_button :refresh, 0, class: "radio_btn", id: 'refresh15' %>
										<%= f.label '✔︎', for: 'refresh15' %>
										<%= f.hidden_field :bitter, :value => 2, disabled: "disabled", class: 'hidden15' %>
										<%= f.hidden_field :body, :value => 3, disabled: "disabled", class: 'hidden15' %>
										<%= f.hidden_field :fruity, :value => 1, disabled: "disabled", class: 'hidden15' %>
									</div>
									<div class="fruity_content4">
										<%= f.radio_button :refresh, 0, class: "radio_btn", id: 'refresh16' %>
										<%= f.label '✔︎', for: 'refresh16' %>
										<%= f.hidden_field :bitter, :value => 3, disabled: "disabled", class: 'hidden16' %>
										<%= f.hidden_field :body, :value => 3, disabled: "disabled", class: 'hidden16' %>
										<%= f.hidden_field :fruity, :value => 0, disabled: "disabled", class: 'hidden16'%>
									</div>
									<div class="map-title-top">スッキリ</div>
									<div class="map-title-right">ビター</div>
									<div class="map-title-bottom">コク</div>
									<div class="map-title-left">フルーティ</div>
								</div>
							</div>
							<div class="modal-footer">
						<%= f.submit "保存", class:"form-control" %>
					</div>
					<% end %>
					</div>

		</div>
	</div>
</section>
<%= javascript_include_tag 'users/taist_new.js' %>