<div class="container">
	<div class="row">
		<div class="col-8 offset-2 chat_room" style="background-color: #2c3e50;">
			<% @entries.each do |e| %>
				<% current_user == e.user ? @class = "current_user" : @class = ""  %>
				<% if e.user != current_user %>
				  <h5 class="text-left <%= @class %>" id="<%= @class %>" style="font-size: 30px;" data-id="<%= e.user.id %>"><%= link_to "@#{e.user.name}", users_user_path(e.user_id) %></h5>
				<% else %>
				  <h5 class="text-left <%= @class %>" id="<%= @class %>" data-id="<%= e.user.id %>"></h5>
				<% end %>
			<% end %>
			<div class="chat-border"></div>
			<div id="direct_messages" data-room_id="<%= @room.id %>">
			  <%= render @direct_messages %>
			</div>
			<div class="chat-border"></div>
			<form>
			  <label style="color: white;" id="target">新しいメッセージを作成</label><br>
			  <input type="text" id="chat-input" data-behavior="room_speaker" class="form-control">
			</form>
		</div>
	</div>
</div>

<script>
	var element = document.getElementById('target'); // 移動させたい位置の要素を取得
    var rect = element.getBoundingClientRect();
    var position = rect.top;
    setTimeout( function() {
  		scrollTo(0, position);}
		, 1000);
</script>