<p class="<%= direct_message.id %>"><%= attachment_image_tag direct_message.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %><%= direct_message.user.name %></p>
 <div class="dm_box">
	<p class="<%= direct_message.id %>"><%= direct_message.content %></p><br>
</div>

<script>
	var direct_message = <%= direct_message.user.id %>;
	// console.log(direct_message);
	// var current_user_id = $('.dm_user').data('id');
	var dm_user = document.getElementById('current_user');
	// console.log(dm_user.getAttribute('data-id'));
	// var dm_user = document.getElementsByClassName('current_user')
	console.log(dm_user)
	// var current_user = dm_user.getAttribute('data-id');
	var current_user = dm_user.getAttribute('data-id')
	if(direct_message == current_user){
	  $('p.' + <%= direct_message.id %>).css('text-align', 'right');
	}else{
	  $('p.' + <%= direct_message.id %>).css('text-align', 'left');
	}
</script>
